<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Skyportfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <img src="~/Images/hope1.png" alt="img" width=100%>
    <header id="sticky">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-header">
                    @Html.ActionLink("Portfolio", "Index", "Portfolio", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Record", "Index", "Blog", new { area = "" }, new { @class = "navbar-brand" })
                    <a class="navbar-brand" href="https://github.com/A-Line-of-Code" target="_blank">GitHub</a>
                </div>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Skyportfolio
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
